dataset_2_final/
dataset_2_test_set/

validation_final_septiembre/
public_dataset/

random_search/


mlruns/
old_models/
new_logs/
logs/
oct/




historias.xlsx
*.rar
*.csv
*.xlsx
*.docx

data
logs/
*-checkpoint.ipynb
*-checkpoint.py
*.swp
nohup*

**/*.cpython-39..pyc
